# Configuración adicional para Docker en Elastic Beanstalk

option_settings:
  # Permite que EB descargue imágenes de ECR privado
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  
  # Configuración del proxy inverso (nginx)
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

