files:
  "/tmp/ecr-login.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Autenticación con ECR antes de hacer docker pull
      aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 062825750107.dkr.ecr.us-east-1.amazonaws.com

container_commands:
  01_ecr_login:
    command: "/tmp/ecr-login.sh"

